body
{
    background-image: linear-gradient(to right, #ff5722, #ff9800);
    margin-top: 50px !important;
}

.register-left
{
    
    text-align: center;
    height: 450px;
    padding: 50px;
    background: #f8f8f8;
    border-style: solid;
    border-width: 10px;
    border-color: darkred;
    left: 100px;
}


.register-left p
{
    padding 20px 20px 0;
}
.register-left .btn-primary
{
    border-radius: 1.5rem;
    border: none;
    width: 120px;
    background: #f8f8f8;
    font-weight: 600;
    color: #555;
    margin-top: 20px;
    padding: 10px;
}

.register-left .btn-primary:hover{
    background: #000;
}

.register-right
{
    border: none;
    background: #f8f8f8;
    padding: 50px;
    border-radius: 10px;
}

.register-right h2{
    text-align: center;
    margin-bottom: 10px;
    color: #555;
}

.register-form{
    padding: 30px;
    
}

.register-right .btn-primary
{
    float: right;
    border-radius: 1.5rem;
    border: none;
    width: 120px;
    background: #ff9800;
    font-weight: 600;
    color: #fff;
    margin-top: 20px;
    padding: 10px;
}

.register-right .btn-primary:hover
{
    background: #ff5722;
    
}
@keyframes mover
{
    0%{transform: translateY(0);}
    -100%{transform: translateY(-20px);}
}