
*{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	font-family: cambria;
	font-size: 16px;
	background: url(img/coffe.png);
    background-size: cover;
    
}

.wrapper{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	padding: 0 20px;
}

.login-form{
    position: relative;
    left: -480px;
	width: 100%;
	max-width: 350px;
	background: #fff;
	height: 440px;
	border-radius: 50px;
	margin: 0 auto;
	box-shadow: 0 2px 5px 0 rgba(225,225,225,0.16), 
    0 2px 10px 0 rgba(225,225,225,0.12);
    background: url(img/coffe.png) no-repeat;
}

.login-form .title-section{
	height: 45%;
	position: relative;	
	overflow: hidden;
	border-top-right-radius: 45px;
	border-top-left-radius: 45px;
}

.login-form .title-section:before{
	content: "";
    position: absolute;
    top: -10%;
    left: -22%;
    width: 500px;
    height: 300px;
    background: url(img/coffe.png) no-repeat;
    background-position: bottom;
    background-size: cover;
    
}

.login-form .title-section h1{
    text-align: center;
    padding-top: 45%;
    text-transform: uppercase;
    position: relative;
    font-size: 2.5em;
    color: #fff;
}

.login-form .login-section{
	width: 100%;
	height: 55%;
	padding: 55px 40px;
}


.login-form .login-section .input-fields{
    padding-bottom: 8px;
	position: relative;
}

.login-form .login-section .input-fields .input{
	width: 100%;
	border: none;
	padding: 10px 30px;
	border-radius: 10px;
	font-size: 1em;
}

.login-form .login-section .input-fields a{
	position: absolute;
    color: #212121;
    top: 12px;
    right: 15px;
    text-transform: capitalize;
    font-size: 0.75em;
    font-weight: bold;
}
.login-form .login-section .input-fields a:hover
{
    color: blue;
}

.login-form .login-section .input-fields .fas{
	position: absolute;
	color: #212121;
	font-size: 0.80em;
    top: 15px;
    left: 12px;
}

.btn{
	background: dimgray;
    padding: 10px;
    margin-top: 5px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    border: none;
}
.btn:hover
{
    background-color: saddlebrown;
}


.wrapper .box{
    left: 1000px;
    top: -70px;
    position: absolute;
    width: 360px;
    height: 230px;
    background: transparent;
    float: right;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
.wrapper .box .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: 0.5s;
    z-index: 1;
}
.wrapper .box:hover .icon
{
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.wrapper .box .icon .fas
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 28px;
    transition: 0.5s;
    color: #fff;
}

.wrapper .box:hover .icon .fas
{
    font-size: 30px;
}
.wrapper .box .content
{
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}
.wrapper .box:hover .content
{
    top: 100px;
    opacity: 1;
}
.wrapper .box .content h3{
    margin: 0 0 10;
    padding: 0;
    color: #fff;
    font-size: 24px;
}
.wrapper .box .content p{
    margin: 0;
    padding: 0;
    color: #fff;
} 