h1 {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

p {
    font-size: 12px;
    font-weight: 300;
}

.button {

    width: 265px;
    height: 265px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;

    transition: all .4s;
}


.modal {
    width: 530px;
    height: 265px;
    perspective: 2000px;
    z-index: 2;
    position: absolute;
    top: calc(50% - 132.5px);
    left: calc(50% - 265px);
    display: none;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.front,
.back,
.opened {
    height: 265px;
    position: absolute;
    box-sizing: border-box;
}

.front {
    background-color: #34495e;
    width: 265px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    z-index: 3;
    backface-visibility: hidden;
    transform-origin: 0% 50%;

    transform: rotateY(-180deg);
}

.back,
.opened {
    width: 530px;
    padding: 35px 25px;
    clip: rect(auto, auto, auto, 265px);
}

.back {
    background: #f2f2f2;
    transform-origin: 50% 50%;
    transform: rotateY(-180deg);
}

.back .content {
    transform: rotateY(180deg);
}

.opened {
    background: #f2f2f2;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background: url(http://i63.tinypic.com/1671taq.png) no-repeat center;
    background-size: cover;
    opacity: .6;
}

.front-open {
    animation: front 1.1s forwards ease-in-out;
}

.back-open {
    animation: back 1.1s forwards ease-in-out;
}

.opened-open {
    animation: opened 1.1s forwards ease-in-out;
}

.front-close {
    animation: front 1.1s forwards reverse ease-in-out;
}

.back-close {
    animation: back 1.1s forwards reverse ease-in-out;
}

.opened-close {
    animation: opened 1.1s forwards reverse ease-in-out;
}

@keyframes front {
    0% {
        transform: rotateY(0deg);
        left: 132.5px;
    }

    100% {
        transform: rotateY(-180deg);
        left: 265px;
    }
}

@keyframes back {
    0% {
        transform: rotateY(0deg);
        left: -132.5px;
        background: transparent;
    }

    100% {
        transform: rotateY(-180deg);
        left: 0;
        background: #f2f2f2;
    }
}

@keyframes opened {
    0% {
        left: -132.5px;
        background: #f2f2f2;
    }

    100% {
        left: 0;
        background: #f2f2f2;
    }
}

img {
    width: 250px;
    height: 250px;
}
