* {
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
}

.landing-page {
    width: 100%;
    height: 100vh;
    background: #000;
    position: relative;
    overflow: hidden;
}

.landing-page::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../../assets/img/bg-web2.png) no-repeat;
    background-size: cover;
    opacity: .3;
    animation: anim 25s linear infinite;
}

@keyframes anim {
    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

.page-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 0 40px;
    box-sizing: border-box;
}

.page-content h1 {
    color: #ff7979;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;
}

.page-content p {
    color: #fff;
    margin-bottom: 20px;
}

.page-content a {
    display: inline-block;
    text-decoration: none;
    color: #ff7979;
    border: 2px solid white;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: 0.4s linear;
    border-radius: 10px;
}

.page-content a:hover {
    color: #fff;
    background: #ff7979;
}

.text {
    padding: 10px;
    text-align: justify;
}
p {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 400%;
  }
}