body{
    margin: 0px;
    padding: 0px;
    background-image: url(../img/bg-web-awal.png);
    background-position: center;
    background-size: auto;
}
#main,#signUpForm{
    height: 400px;
    width: 400px;
    background-color: white;
    box-shadow: 0 0 0 30px rgba(255,255,255,.2);
    border-radius: 50%;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateY(0deg);
}
table{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#title{
    font-family: calibri;
    font-size: 30px;
    color:#222;
    text-align: center;
}
hr{
    margin: 5px auto;
    padding: 0px;
}
input[type=text],input[type=password],input[type=email]{
    height: 35px;
    width: 250px;
    font-family: sans-serif;
    font-size: 11px;
    border-radius: 35px;
    border: none;
    outline: none;
    border: 1px solid darkgray;
    padding: 20px;
}
#frt{
    font-family: calibri;
    color:#222;
    font-size: 12px;
}
#signInBtn,#signUpBtn{
    height: 35px;
    width: 250px;
    font-family: calibri;
    font-size: 14px;
    color:white;
    line-height: 0px;
    border: none;
    outline: none;
    background-color: #FF5B3F;
    border-radius: 35px;
    padding: 20px;
    cursor: pointer;
}
#signUpMsg,#signInMsg{
    font-family: calibri;
    font-size: 12px;
    color:#777;
}
a{
    color:#313AA3;
}
#main{
    -webkit-backface-visibility:hidden;
    -webkit-animation-duration:2s;
}
#signUpForm{
    -webkit-backface-visibility:hidden;
    -webkit-transform:translate(-50%,-50%) rotateY(180deg);
    -webkit-animation-duration:2s;
}

@-webkit-keyframes showSignUp{
    0%{transform: translate(-50%,-50%) rotateY(0deg);}
    100%{transform: translate(-50%,-50%) rotateY(180deg);}
}
@-webkit-keyframes hideSignIn{
    0%{transform: translate(-50%,-50%) rotateY(180deg);}
    100%{transform: translate(-50%,-50%) rotateY(0deg);}
}
@-webkit-keyframes showSignIn{
    0%{transform: translate(-50%,-50%) rotateY(0deg);}
    100%{transform: translate(-50%,-50%) rotateY(180deg);}
}
@-webkit-keyframes hideSignUp{
    0%{transform: translate(-50%,-50%) rotateY(180deg);}
    100%{transform: translate(-50%,-50%) rotateY(0deg);}
}


