@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

.navbar {
    padding: 13px;
    height: 80px;
    background: rgba(0, 0, 0, 0.5);
}
.navbar-nav li {
    padding-right: 15px;
    text-align: center;
    font-size: 1px;
    padding-top: 15px;
}
.nav-link {
    font-size: 20px !important;
    font-family: times new roman;
    color: wheat;
    padding-left: 30px;
}
.nav-link:hover{
    text-decoration: none;
    color: blue;
}
.navbar-brand img{
    width: 75px;
    height: 75px;
    padding: 5px;
    position: absolute;
    left: 27px;
    top: 2px;
}
.container{
    top: -25px;
    position: relative;
}

.nav-item2{
    padding: 1px;
    left: 20px;
    top: -12px;
}

.navbar-nav li .nav-item2{
    font-size: 10px;
    color: red;
}
.btn-group .btn{
    position: relative;
    right: -180px;
    top: 10px;
}
.dropdown-menu{
    position: absolute;
    left: 150px;
    top: 42px;
}
.dropdown-menu a{
    text-decoration: none;
}
h3{
    color: wheat;
}


