body,html{
    height: 100%;
    font-family: ;
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
h2{
    font-size: 2em;
    margin: 0;
    padding: 20px;
    color: #fff;
    font-family: my-turtle;
}
h1{
    text-align: center;
}
.wrap{
    
    min-height: 95%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    position: absolute;
    right: 5px;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background: #fff;
    border-radius: 10px;
    height: 420px;
}
.container2{
    position: absolute;
    right: 5px;
    top: 25;
    margin: 20px;
    max-width: 300px;
    padding: 13px;
    background: #fff;
    border-radius: 10px;
    height: 550px;
}
input[type=text],input[type=password]{
    width: 100%;
    padding: 13px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    font-size: 15px;
}
.btn{
    background: #4caf50;
    color: #fff;
    padding: 13px 20px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    border: none;
}
.btn-last{
    background: #4caf50;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    width: 120px;
    height: 50px;
    border: none;
}
.btn-last1{
    background: #4caf50;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    width: 120px;
    height: 50px;
    border: none;
    position: absolute;
    padding: 15px;
    left: 165;
    text-align: center;
}
.btn-last1:hover{
    background: #333;
    cursor: pointer;
}

.btn-last:hover{
    background: #333;
    cursor: pointer;
}
.btn:hover{
    background: #333;
    cursor: pointer;
}
a{
    text-decoration: none;

}
a:hover{
    text-decoration: ;
}
footer{
    position: absolute;
    top: 95%;
    background-position: center;
}
.foot{
    width: 100%;
    height: 35px;
}
.cr{
    position: absolute;
    top: -20%;
    color: whitesmoke;
    left: 92%;
}
.sgn{
    width: 100%;
    padding: 3px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    font-size: 15px;
}
.sgnsubmit{
    color: white;
    text-decoration: none;
}
.tainer{
    position: absolute;
    margin: 40px auto;
    left: -20;
    top: -20;
}
.tainer .box{
    position: relative;
    width: 360px;
    height: 230px;
    background: transparent;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
.tainer .box .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: 0.5s;
    z-index: 1;
}
.tainer .box:hover .icon
{
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.tainer .box .icon .fas
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 28px;
    transition: 0.5s;
    color: #fff;
}

.tainer .box:hover .icon .fas
{
    font-size: 30px;
}
.tainer .box .content
{
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}
.tainer .box:hover .content
{
    top: 100px;
    opacity: 1;
}
.tainer .box .content h3{
    margin: 0 0 10;
    padding: 0;
    color: #fff;
    font-size: 24px;
}
.tainer .box .content p{
    margin: 0;
    padding: 0;
    color: #fff;
}    
.btn-salah{
    width: 160px;
    height: 50px;
    background: tomato;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    position: absolute;
}
.salah-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 180px;
    height: 50px;
    background: #262626;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    color: ghostwhite;
    text-decoration: none;
    font-size: 20px;
    font-family: verdana;
    letter-spacing: 4px;
    padding-top: 13px;
}
.salah-btn:before,
.salah-btn:after,
span:before,
span:after
{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: ghostwhite;
    transition: 1s;
    mix-blend-mode: hue;
}
.salah-btn:before
{
    top: -2px;
    left: -2px;
}
.salah-btn:after
{
    top: -2px;
    right: -2px;
}
span:before
{
    bottom: -2px;
    left: -2px;
}
span:after
{
    bottom: -2px;
    right: -2px;
}
.salah-btn:hover:before,
.salah-btn:hover:after,
.salah-btn:hover span:before,
.salah-btn:hover span:after
{
    width: calc( 180px / 2);
    height: calc( 50px / 2);
}
.fas fa-undo{
    color: white;
}
.jdul-slh{
    position: absolute;
    text-align: center;
    top: -130%;
    color: ghostwhite;
    font-size: 30px;
    width: 500px;
    left: -100%;
}