
.middle{
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.card{
    cursor: pointer;
    width: 420px;
    height: 130px;
}
.card-middle{
    border-radius: 100px;
}
.front,.back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.front img{
    height: 100%;
    width: 100%;
}
.front{
    transform: perspective(600px) rotateY(0deg);
    background-position: center;
}
.back{
    background: whitesmoke;
    transform: perspective(600px) rotateY(180deg);
}
.back-content{
    color: #2c3e50;
    text-align: center;
    width: 100%;
}

.card:hover >  .front{
    transform: perspective(600px) rotateY(-180deg);
}
.card:hover >  .back{
    transform: perspective(600px) rotateY(0deg);
}

