.container{
    width: 900px;
    margin: 250px auto 0;
    display: flex;
    position: absolute;
    top: -130px;
}
.container .box
{
    position: relative;
    width: 300px;
    height: 100px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 10px;
    background: #00171d;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 0 0 2px rgba(0,7,10,1);
}
.container .box .icon
{
    width: 100%;
    height: 100%;
    background: #00171d;
    transition: 0.5s;
}
.container .box .icon .fas
{
    font-size: 4em;
    line-height: 100px;
    color: #03a9f4;
}
.container .box:hover .icon
{
    transform: scale(0);
}
.container .box .details
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03a974;
    transition: 0.5s;
    transform: scale(2);
    opacity: 0;
}
.container .box:hover .details
{
    transform: scale(1);
    opacity: 1;
}
.container .box .details h3
{
    margin: 0;
    padding: 0;
    line-height: 100px;
    font-size: 24px;
    color: #fff;
    
}
.btn{
    position: absolute;
    top: 620px;
    left: 90%;
    width: 120px;
}