*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: montserrat;
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.card{
    cursor: pointer;
    width: 320px;
    height: 450px;
}
.card-middle{
    border-radius: 100px;
}
.front,.back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.front img{
    height: 100%;
}
.front{
    transform: perspective(600px) rotateY(0deg);
    background-position: center;
}
.back{
    background: whitesmoke;
    transform: perspective(600px) rotateY(180deg);
}
.back-content{
    color: #2c3e50;
    text-align: center;
    width: 100%;
}
.sm{
    margin: 20px 0;
}
.sm a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #2c3e50;
    font-size: 18px;
    transition: 0.4s;
    border-radius: 50%;
}
.sm a:hover{
    background: #2c3e50;
    color: white;
}
.card:hover >  .front{
    transform: perspective(600px) rotateY(-180deg);
}
.card:hover >  .back{
    transform: perspective(600px) rotateY(0deg);
}
.footer{
    text-align: center;
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-50%,-50%);
}
button{
    background: none;
    color: #ccc;
    width: 200px;
    height: 50px;
    border: 1px solid white;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
}

button:focus{
    outline: none;
}
button:before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translate(-130px) skewX(-15deg);
    
}

button:after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) scaleX(-15deg);
}
button:hover{
    background: black;
    cursor: pointer;
}
h2{
    color: black;
    font-size: 30px;
}
h3{
    font-size: 20px;
    color: black;
}