*
{
    margin: 0;
    padding: 0;
}

.nav-bar
{
    background-color: red;
    background: rgb(0, 0, 0, 0.1);
    height: 80px;
}

.logo{
    margin: 10px 50px;
    height: 60px;
}

.menu{
    float: right;
    list-style: none;
    margin: 20px;    
}

.menu li{
    display: inline-block;
    margin: 10px 5px;    
}

.menu li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    font-family: sans-serif;
    letter-spacing: 2px;
    border: 1px solid #fff;
    border-radius: 10px;
}

.menu li a:hover{
    background: #fff;
    transition: .4s;
    color: #000;
}

.btn{
    font-size: 18px;
    letter-spacing: 2px;
    margin: 5px;
    padding: 7px 10px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
}

.btn1{
    background: #fff;
    color: #000;
}

.btn2{
    color: #fff;
}

.btn2:hover{
    background: #fff;
    color: #000;
    transition: .4s;
}
